<!doctype html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="script.js"></script>
    <title>Agenda</title>
</head>
<body>
<form action="contatos" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome"><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>

    <label for="numero">Telefone:</label>
    <input type="tel" id="numero" name="numero"><br>

    <label for="tipo">Tipo do Telefone:</label>
    <input type="text" id="tipo" name="tipo"><br>

    <label for="logradouro">Logradouro:</label>
    <input type="text" id="logradouro" name="logradouro"><br>

    <label for="numeroEndereco">Número:</label>
    <input type="text" id="numeroEndereco" name="numeroEndereco"><br>

    <label for="bairro">Bairro</label>
    <input type="text" name="bairro" id="bairro"><br>

    <label for="cidade">Cidade</label>
    <input type="text" name="cidade" id="cidade"><br>

    <label for="estado">Estado</label>
    <input type="text" name="estado" id="estado"><br>

    <label for="cep">CEP</label>
    <input type="text" name="cep" id="cep"><br>

    <button type="submit">Cadastrar</button>
</form>
</div>
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Fone</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contato:${contatos}">
                <td th:text="${contato.id}"></td>
                <td th:text="${contato.nome}"></td>
                <td th:text="${contato.fone.numero}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>